{% extends "base.html" %}
{% load static %}


{% block content %}

<!--sidebar end-->
    <!-- **********************************************************************************************************************************************************
        MAIN CONTENT
        *********************************************************************************************************************************************************** -->
    

<!--main content start-->
<section id="main-content">
    <section class="wrapper">
      <div class="row">
        <div class="col-lg-9 main-chart">
         
        <div class="border-head">
            <h3>Vistas de usuarios</h3>
        </div>
        
          
         </div>
        
      </div>
      
    </section>
  </section>
 



{% endblock %}