
{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>  
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title> TEST- ITTG</title>

  <!-- Favicons -->
   <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
  <link href="{% static 'css/sb-admin-2.min.css' %}" rel="stylesheet">

  <!-- <link href="{% static 'img/favicon.png' %}" rel="icon"> -->
  <link href="{% static 'img/login-bg.jpg' %}" rel="apple-touch-icon">

  <!-- Bootstrap core CSS -->
  <link href="{% static 'lib/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
  <!--external css-->
  <link href="{% static 'lib/font-awesome/css/font-awesome.css' %}" rel="stylesheet" />
  <!-- Custom styles for this template -->
  <link href="{% static 'css/style.css' %}" rel="stylesheet">
  <link href="{% static 'css/style-responsive.css' %}" rel="stylesheet">
  

</head>

<body>
    
  <div id="login-page">
    <div class="container">
      
      <form class="form-login" action="/iniciosesion/" method="POST">
        {% csrf_token %}
        <h2 class="form-login-heading">Iniciar Sesión</h2>
        <div class="login-wrap">
          <input type="text" class="form-control" name="usuario" placeholder="Usuario" autofocus>
          <br>
          <input type="password" class="form-control" name="password" placeholder="Contraseña">
          <label class="checkbox">
            <!-- <input type="checkbox" value="remember-me"> Remember me -->
            <span class="pull-right">
            <a data-toggle="modal" href="login.html#myModal"> ¿Olvidaste tu contraseña3?</a>
            </span>
            </label><br><br>
          <button class="btn btn-theme btn-block" href="#" type="submit"><i class="fa fa-lock"></i> Ingresar</button>
          <hr>
           <div class="login-social-link centered">
            <p>Crea un cuenta aqui</p>
            <button class="btn btn-facebook" type="submit"><i href="/regist/"></i> Alumno</button>
            <button class="btn btn-twitter" type="submit"><i class="fa "></i> Aspirante</button>
          </div>
          <div class="form-group">
                      <div class="custom-control custom-checkbox small">
                        <input type="checkbox" class="custom-control-input" id="customCheck">
                        <label class="custom-control-label" for="customCheck">recordarme </label>
                      </div>
                    </div>
                    
          <!-- <div class="registration">
            Don't have an account yet?<br/>
            <a class="" href="#">
              Create an account
              </a>
          </div> -->
        </div>
        <!-- Modal -->
        <div aria-hidden="true" aria-labelledby="myModalLabel" role="dialog" tabindex="-1" id="myModal" class="modal fade">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Forgot Password ?</h4>
              </div>
              <div class="modal-body">
                <p>Enter your e-mail address below to reset your password.</p>
                <input type="text" name="email" placeholder="Email" autocomplete="off" class="form-control placeholder-no-fix">
              </div>
              <div class="modal-footer">
                <button data-dismiss="modal" class="btn btn-default" type="button">Cancel</button>
                <button class="btn btn-theme" type="button">iniciar sesion</button>
              </div>
            </div>
          </div>
        </div>
        <!-- modal -->
      </form>
    </div>
  </div>
  <!-- js placed at the end of the document so the pages load faster -->
  <script src="{% static 'lib/jquery/jquery.min.js' %}"></script>
  <script src="{% static 'lib/bootstrap/js/bootstrap.min.js' %}"></script>
  <!--BACKSTRETCH-->
  <!-- You can use an image of whatever size. This script will stretch to fit in any screen size.-->
  <script type="text/javascript" src="{% static 'lib/jquery.backstretch.min.js' %}"></script>
  <!-- <script>
    $.backstretch("{% static 'img/login-bg.jpg' %}", {
      speed: 500
    });
  </script> -->

  <!-- mis scripts -->

  <script src="{% static 'js/sweet.js' %}"></script>

  {% load sweetify %}
{% sweetify %}
</body>

</html>


