<!DOCTYPE html>
<html lang="es-mx">

<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>TEST- ITTG</title>

  <!-- Custom fonts for this template-->
  <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

  <!-- Custom styles for this template-->
  <link href="css/sb-admin-2.min.css" rel="stylesheet">

</head>

<body id="page-top">

  <!-- Page Wrapper -->
  <div id="wrapper">

    <!-- Sidebar -->
    <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

      <!-- Sidebar - Brand -->
      <a class="sidebar-brand d-flex align-items-center justify-content-center" href="perfil.html">
        <div class="sidebar-brand-icon rotate-n-15">
          <i class="fas fa-laugh-wink"></i>
        </div>
        <div class="sidebar-brand-text mx-3">TEST- ITTG <sup>2</sup></div>
      </a>

      <!-- Divider -->
      <hr class="sidebar-divider my-0">

      <!-- Nav Item - Dashboard -->
      <li class="nav-item active">
        <a class="nav-link" href="perfil.html">
          <i class="fas fa-fw fa-tachometer-alt"></i>
          <span>INICIO</span></a>
      </li>
      <!-- Divider -->
      <hr class="sidebar-divider">
      <!-- Nav Item - Charts -->
      <li class="nav-item">
        <a class="nav-link" href="charts.html">
          <i class="fas fa-fw fa-chart-area"></i>
          <span href="">Perfil</span></a>

            <!-- Divider -->
      <hr class="sidebar-divider">
      <!-- Nav Item - Charts -->
      <li class="nav-item">
        <a class="nav-link" href="aptitudes.html">
          <i class="fas fa-fw fa-chart-area"></i>
          <span>Test-Aptitud</span></a>
      </li>
      <!-- Nav Item - Charts --> 
      <li class="nav-item">
        <a class="nav-link" href="intereses.html">
          <i class="fas fa-fw fa-chart-area"></i>
          <span>Test-Intereses</span></a>
      </li>

      <!-- Nav Item - Charts -->
      <li class="nav-item">
        <a class="nav-link" href="charts.html">
          <i class="fas fa-fw fa-chart-area"></i>
          <span>Resultado</span></a>
      </li>

      <!-- Divider -->
      <hr class="sidebar-divider d-none d-md-block">

      <!-- Sidebar Toggler (Sidebar) -->
      <div class="text-center d-none d-md-inline">
        <button class="rounded-circle border-0" id="sidebarToggle"></button>
      </div>

    </ul>
    <!-- End of Sidebar -->

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

      <!-- Main Content -->
      <div id="content">

        <!-- Topbar -->
        <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

          <!-- Sidebar Toggle (Topbar) -->
          <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
            <i class="fa fa-bars"></i>
          </button>

          <!-- Topbar Search -->
          <form class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search">
            <div class="input-group">
              <input type="text" class="form-control bg-light border-0 small" placeholder="Search for..." aria-label="Search" aria-describedby="basic-addon2">
              <div class="input-group-append">
                <button class="btn btn-primary" type="button">
                  <i class="fas fa-search fa-sm"></i>
                </button>
              </div>
            </div>
          </form>

          <!-- Topbar Navbar -->
          <ul class="navbar-nav ml-auto">

            <!-- Nav Item - Search Dropdown (Visible Only XS) -->
            <li class="nav-item dropdown no-arrow d-sm-none">
              <a class="nav-link dropdown-toggle" href="#" id="searchDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fas fa-search fa-fw"></i>
              </a>
              <!-- Dropdown - Messages -->
              <div class="dropdown-menu dropdown-menu-right p-3 shadow animated--grow-in" aria-labelledby="searchDropdown">
                <form class="form-inline mr-auto w-100 navbar-search">
                  <div class="input-group">
                    <input type="text" class="form-control bg-light border-0 small" placeholder="Search for..." aria-label="Search" aria-describedby="basic-addon2">
                    <div class="input-group-append">
                      <button class="btn btn-primary" type="button">
                        <i class="fas fa-search fa-sm"></i>
                      </button>
                    </div>
                  </div>
                </form>
              </div>
            </li>
<!--Nav Item - User Information -->
            <li class="nav-item dropdown no-arrow">
              <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <span class="mr-2 d-none d-lg-inline text-gray-600 small">Rodulfo Perez</span>
                <img class="img-profile rounded-circle" src="https://source.unsplash.com/user/erondu/60x60">
              </a>
              <!-- Dropdown - User Information -->
              <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="userDropdown">
                <a class="dropdown-item" href="perfil.html">
                  <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
                  Perfil
                </a>
                <a class="dropdown-item" href="#">
                  <i class="fas fa-cogs fa-sm fa-fw mr-2 text-gray-400"></i>
                  Configuracion
                </a>
               
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#" data-toggle="modal" data-target="#logoutModal">
                  <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                  cerrar sesion
                </a>
              </div>
            </li>

          </ul>

        </nav>
           <center><h4>TEST DE INTERESES </h4></center>
<div class="container">
<h4>EL PERFIL DE MIS INTERESES</h4>
  <p>Click en el boton para ver las intrucciones para poder realizar el test.</p>
  <button type="button" class="btn btn-info" data-toggle="collapse" data-target="#demo">Instrucciones:</button>
  <div id="demo" class="collapse"><h3>Objetivos:</h3>
    Identificar tus intereses y elaborar tu perfil.<br>El presente cuestionario fue elaborado por el profesor Luis Herrera y Montes, te ayudará a definir e identificar tus intereses y aptitudes de manera más precisa.<br>
Es necesario que contestes con sinceridad cada una de las preguntas que aquí se hacen con el fin de obtener mejores resultados. Tus respuestas las debes escribir en una sola sesión, es decir, desde el momento que inicies no deberás interrumpir la actividad hasta finalizar las 60 preguntas que ahí aparecen, de lo contrario, el resultado tendrá variaciones y será menos preciso.
Recuerda que este cuestionario, como su nombre lo indica, te cuestiona sobre algunas actividades y pretende que a través de tus respuestas puedas diferencias tus intereses de acuerdo con las diferentes escalas que lo componen. Es necesario que contestes con sinceridad cada una de las preguntas que aquí se hacen con el fin
de obtener mejores resultados. Tus respuestas las debes escribir en una sola sesión, es decir,
desde el momento que inicies no deberás interrumpir la actividad hasta finalizar las 60 preguntas
que ahí aparecen, de lo contrario, el resultado tendrá variaciones y será menos preciso.<br>
Recuerda que este cuestionario, como su nombre lo indica, te cuestiona sobre algunas actividades
y pretende que a través de tus respuestas puedas diferencias tus intereses de acuerdo con las
diferentes escalas que lo componen.<br>
  <h3>Instrucciones:</h3>
    En la medida que vayas leyendo cada pregunta, piensa ¿qué tanto te gustaría hacer.....?,
posteriormente, en la hoja de respuestas, escribe con un número la que seleccionaste, según la
escala que aparece a continuación:<br>
4 Me gusta mucho<br>
3 Me gusta algo o en parte<br>
2 Me es indiferente, pues ni me gusta, ni me disgusta<br>
1 Me desagrada algo o en parte<br>
0 Me desagrado mucho o totalmente<br>
Contesta en la hoja de respuesta, de izquierda a derecha; procura no equivocarte de cuadro, ni
saltarte alguno. Cada cuadro tiene un número que te servirá de guía y corresponde al número de
cada pregunta del cuestionario.
  </div>
  </div>
  <!--preguntas-->
  <div class="container">
    <div class="form-panel">
      <div class="form">
        <form class="cmxform form-horizontal style-form" id="signupForm" method="get" action="">
          <center><h4>SECCIÓN DE PREGUNTAS</h4></center>
          <h3>¿Qué tanto te gustaría?</h3>
      <div id="ps">
        
        <h5>1.-¿Atender y cuidar enfermos ?</h5>
        <input type="radio" value="a" name="793" /><span>a) Me gusta mucho</span>
        <input type="radio" value="b" name="793" /><span>b) Me gusta algo o en parte</span>
        <input type="radio" value="c" name="793" /><span>c) Me es indiferente, pues ni me gusta, ni me disgusta</span><br/><br/>
        <input type="radio" value="d" name="793" /><span>d) Me desagrada algo o en parte</span>
        <input type="radio" value="d" name="793" /><span>e) Me desagrado mucho o totalmente</span></div>
        <br>
        <div id="ps">
        <h5>2.-¿Intervenir activamente en las discusiones de clase? </h5>
        <input type="radio" value="a" name="793" /><span>a) Me gusta mucho</span>
        <input type="radio" value="b" name="793" /><span>b) Me gusta algo o en parte</span>
        <input type="radio" value="c" name="793" /><span>c) Me es indiferente, pues ni me gusta, ni me disgusta</span><br/><br/>
        <input type="radio" value="d" name="793" /><span>d) Me desagrada algo o en parte</span>
        <input type="radio" value="d" name="793" /><span>e) Me desagrado mucho o totalmente</span></div>

        <br>
        <div id="ps">
        <h5>3.-¿Escribir cuentos, crónicas o artículos? </h5>
        <input type="radio" value="a" name="793" /><span>a) Me gusta mucho</span>
        <input type="radio" value="b" name="793" /><span>b) Me gusta algo o en parte</span>
        <input type="radio" value="c" name="793" /><span>c) Me es indiferente, pues ni me gusta, ni me disgusta</span><br/><br/>
        <input type="radio" value="d" name="793" /><span>d) Me desagrada algo o en parte</span>
        <input type="radio" value="d" name="793" /><span>e) Me desagrado mucho o totalmente</span></div>
        <br>
        <div id="ps">
        <h5>4.-¿ Dibujar y pintar? </h5>
        <input type="radio" value="a" name="793" /><span>a) Me gusta mucho</span>
        <input type="radio" value="b" name="793" /><span>b) Me gusta algo o en parte</span>
        <input type="radio" value="c" name="793" /><span>c) Me es indiferente, pues ni me gusta, ni me disgusta</span><br/><br/>
        <input type="radio" value="d" name="793" /><span>d) Me desagrada algo o en parte</span>
        <input type="radio" value="d" name="793" /><span>e) Me desagrado mucho o totalmente</span></div>
        <br>
        <div id="ps">
        <h5>5.-¿Cantar en un coro estudiantil? </h5>
        <input type="radio" value="a" name="793" /><span>a) Me gusta mucho</span>
        <input type="radio" value="b" name="793" /><span>b) Me gusta algo o en parte</span>
        <input type="radio" value="c" name="793" /><span>c) Me es indiferente, pues ni me gusta, ni me disgusta</span><br/><br/>
        <input type="radio" value="d" name="793" /><span>d) Me desagrada algo o en parte</span>
        <input type="radio" value="d" name="793" /><span>e) Me desagrado mucho o totalmente</span></div>
        <br>
        <div id="ps">
        <h5>6.-¿Llevar en orden tus libros y cuadernos?</h5>
        <input type="radio" value="a" name="793" /><span>a) Me gusta mucho</span>
        <input type="radio" value="b" name="793" /><span>b) Me gusta algo o en parte</span>
        <input type="radio" value="c" name="793" /><span>c) Me es indiferente, pues ni me gusta, ni me disgusta</span><br/><br/>
        <input type="radio" value="d" name="793" /><span>d) Me desagrada algo o en parte</span>
        <input type="radio" value="d" name="793" /><span>e) Me desagrado mucho o totalmente</span></div>
        <br>
        <div id="ps">
        <h5>7.-¿Conocer y estudiar la estructura de las plantas y de los animales? </h5>
        <input type="radio" value="a" name="793" /><span>a) Me gusta mucho</span>
        <input type="radio" value="b" name="793" /><span>b) Me gusta algo o en parte</span>
        <input type="radio" value="c" name="793" /><span>c) Me es indiferente, pues ni me gusta, ni me disgusta</span><br/><br/>
        <input type="radio" value="d" name="793" /><span>d) Me desagrada algo o en parte</span>
        <input type="radio" value="d" name="793" /><span>e) Me desagrado mucho o totalmente</span></div>
        <br>
        <div id="ps">
        <h5>8.-¿ Resolver cuestionarios de matemáticas? </h5>
        <input type="radio" value="a" name="793" /><span>a) Me gusta mucho</span>
        <input type="radio" value="b" name="793" /><span>b) Me gusta algo o en parte</span>
        <input type="radio" value="c" name="793" /><span>c) Me es indiferente, pues ni me gusta, ni me disgusta</span><br/><br/>
        <input type="radio" value="d" name="793" /><span>d) Me desagrada algo o en parte</span>
        <input type="radio" value="d" name="793" /><span>e) Me desagrado mucho o totalmente</span></div>
        <br>
        <div id="ps">
        <h5>9.-¿ Armar y desarmar objetos mecánicos?</h5>
        <input type="radio" value="a" name="793" /><span>a) Me gusta mucho</span>
        <input type="radio" value="b" name="793" /><span>b) Me gusta algo o en parte</span>
        <input type="radio" value="c" name="793" /><span>c) Me es indiferente, pues ni me gusta, ni me disgusta</span><br/><br/>
        <input type="radio" value="d" name="793" /><span>d) Me desagrada algo o en parte</span>
        <input type="radio" value="d" name="793" /><span>e) Me desagrado mucho o totalmente</span></div>
        <br>
        <div id="ps">
        <h5>10.-¿ Salir de excursión?</h5>
        <input type="radio" value="a" name="793" /><span>a) Me gusta mucho</span>
        <input type="radio" value="b" name="793" /><span>b) Me gusta algo o en parte</span>
        <input type="radio" value="c" name="793" /><span>c) Me es indiferente, pues ni me gusta, ni me disgusta</span><br/><br/>
        <input type="radio" value="d" name="793" /><span>d) Me desagrada algo o en parte</span>
        <input type="radio" value="d" name="793" /><span>e) Me desagrado mucho o totalmente</span></div>
        <br>
        <div id="ps">
        <h5>11.-¿ Proteger a los muchachos menores del grupo?</h5>
        <input type="radio" value="a" name="793" /><span>a) Me gusta mucho</span>
        <input type="radio" value="b" name="793" /><span>b) Me gusta algo o en parte</span>
        <input type="radio" value="c" name="793" /><span>c) Me es indiferente, pues ni me gusta, ni me disgusta</span><br/><br/>
        <input type="radio" value="d" name="793" /><span>d) Me desagrada algo o en parte</span>
        <input type="radio" value="d" name="793" /><span>e) Me desagrado mucho o totalmente</span></div>
        <br>
        <div id="ps">
        <h5>12.-¿ Ser jefe de un grupo?</h5>
        <input type="radio" value="a" name="793" /><span>a) Me gusta mucho</span>
        <input type="radio" value="b" name="793" /><span>b) Me gusta algo o en parte</span>
        <input type="radio" value="c" name="793" /><span>c) Me es indiferente, pues ni me gusta, ni me disgusta</span><br/><br/>
        <input type="radio" value="d" name="793" /><span>d) Me desagrada algo o en parte</span>
        <input type="radio" value="d" name="793" /><span>e) Me desagrado mucho o totalmente</span></div>
        <br>
        <div id="ps">
        <h5>13.-¿ Leer obras literarias? </h5>
        <input type="radio" value="a" name="793" /><span>a) Me gusta mucho</span>
        <input type="radio" value="b" name="793" /><span>b) Me gusta algo o en parte</span>
        <input type="radio" value="c" name="793" /><span>c) Me es indiferente, pues ni me gusta, ni me disgusta</span><br/><br/>
        <input type="radio" value="d" name="793" /><span>d) Me desagrada algo o en parte</span>
        <input type="radio" value="d" name="793" /><span>e) Me desagrado mucho o totalmente</span></div>
        <br>
        <div id="ps">
        <h5>14.-¿ Moldear el barro, plastilina o cualquier otro material?</h5>
        <input type="radio" value="a" name="793" /><span>a) Me gusta mucho</span>
        <input type="radio" value="b" name="793" /><span>b) Me gusta algo o en parte</span>
        <input type="radio" value="c" name="793" /><span>c) Me es indiferente, pues ni me gusta, ni me disgusta</span><br/><br/>
        <input type="radio" value="d" name="793" /><span>d) Me desagrada algo o en parte</span>
        <input type="radio" value="d" name="793" /><span>e) Me desagrado mucho o totalmente</span></div>
        <br>
        <div id="ps">
        <h5>15.-¿Escuchar música clásica?</h5>
        <input type="radio" value="a" name="793" /><span>a) Me gusta mucho</span>
        <input type="radio" value="b" name="793" /><span>b) Me gusta algo o en parte</span>
        <input type="radio" value="c" name="793" /><span>c) Me es indiferente, pues ni me gusta, ni me disgusta</span><br/><br/>
        <input type="radio" value="d" name="793" /><span>d) Me desagrada algo o en parte</span>
        <input type="radio" value="d" name="793" /><span>e) Me desagrado mucho o totalmente</span></div>
        <br>
        <div id="ps">
        <h5>16.-¿ Ordenar y clasificar los libros de una biblioteca?</h5>
        <input type="radio" value="a" name="793" /><span>a) Me gusta mucho</span>
        <input type="radio" value="b" name="793" /><span>b) Me gusta algo o en parte</span>
        <input type="radio" value="c" name="793" /><span>c) Me es indiferente, pues ni me gusta, ni me disgusta</span><br/><br/>
        <input type="radio" value="d" name="793" /><span>d) Me desagrada algo o en parte</span>
        <input type="radio" value="d" name="793" /><span>e) Me desagrado mucho o totalmente</span></div>
        <br>
        <div id="ps">
        <h5>17.-¿ Hacer experimentos en un laboratorio?</h5>
        <input type="radio" value="a" name="793" /><span>a) Me gusta mucho</span>
        <input type="radio" value="b" name="793" /><span>b) Me gusta algo o en parte</span>
        <input type="radio" value="c" name="793" /><span>c) Me es indiferente, pues ni me gusta, ni me disgusta</span><br/><br/>
        <input type="radio" value="d" name="793" /><span>d) Me desagrada algo o en parte</span>
        <input type="radio" value="d" name="793" /><span>e) Me desagrado mucho o totalmente</span></div>
        <br>
        <div id="ps">
        <h5>18.-¿ Resolver problemas de aritmética?</h5>
        <input type="radio" value="a" name="793" /><span>a) Me gusta mucho</span>
        <input type="radio" value="b" name="793" /><span>b) Me gusta algo o en parte</span>
        <input type="radio" value="c" name="793" /><span>c) Me es indiferente, pues ni me gusta, ni me disgusta</span><br/><br/>
        <input type="radio" value="d" name="793" /><span>d) Me desagrada algo o en parte</span>
        <input type="radio" value="d" name="793" /><span>e) Me desagrado mucho o totalmente</span></div>
        <br>
        <div id="ps">
        <h5>19.-¿ Manejar herramientas y maquinaria?</h5>
        <input type="radio" value="a" name="793" /><span>a) Me gusta mucho</span>
        <input type="radio" value="b" name="793" /><span>b) Me gusta algo o en parte</span>
        <input type="radio" value="c" name="793" /><span>c) Me es indiferente, pues ni me gusta, ni me disgusta</span><br/><br/>
        <input type="radio" value="d" name="793" /><span>d) Me desagrada algo o en parte</span>
        <input type="radio" value="d" name="793" /><span>e) Me desagrado mucho o totalmente</span></div>
        <br>
        <div id="ps">
        <h5>20.-¿ Pertenecer a un grupo de exploradores?</h5>
        <input type="radio" value="a" name="793" /><span>a) Me gusta mucho</span>
        <input type="radio" value="b" name="793" /><span>b) Me gusta algo o en parte</span>
        <input type="radio" value="c" name="793" /><span>c) Me es indiferente, pues ni me gusta, ni me disgusta</span><br/><br/>
        <input type="radio" value="d" name="793" /><span>d) Me desagrada algo o en parte</span>
        <input type="radio" value="d" name="793" /><span>e) Me desagrado mucho o totalmente</span></div>
        <br>
        <div id="ps">
        <h5>21.-¿ Ser miembro de una sociedad de ayuda y asistencia?</h5>
        <input type="radio" value="a" name="793" /><span>a) Me gusta mucho</span>
        <input type="radio" value="b" name="793" /><span>b) Me gusta algo o en parte</span>
        <input type="radio" value="c" name="793" /><span>c) Me es indiferente, pues ni me gusta, ni me disgusta</span><br/><br/>
        <input type="radio" value="d" name="793" /><span>d) Me desagrada algo o en parte</span>
        <input type="radio" value="d" name="793" /><span>e) Me desagrado mucho o totalmente</span></div><br>
        <div id="ps">
        <h5>22.-¿ Dirigir la campaña política para un candidato estudiantil?</h5>
        <input type="radio" value="a" name="793" /><span>a) Me gusta mucho</span>
        <input type="radio" value="b" name="793" /><span>b) Me gusta algo o en parte</span>
        <input type="radio" value="c" name="793" /><span>c) Me es indiferente, pues ni me gusta, ni me disgusta</span><br/><br/>
        <input type="radio" value="d" name="793" /><span>d) Me desagrada algo o en parte</span>
        <input type="radio" value="d" name="793" /><span>e) Me desagrado mucho o totalmente</span></div><br>
        <div id="ps">
        <h5>23.-¿ Hacer versos para una publicación?</h5>
        <input type="radio" value="a" name="793" /><span>a) Me gusta mucho</span>
        <input type="radio" value="b" name="793" /><span>b) Me gusta algo o en parte</span>
        <input type="radio" value="c" name="793" /><span>c) Me es indiferente, pues ni me gusta, ni me disgusta</span><br/><br/>
        <input type="radio" value="d" name="793" /><span>d) Me desagrada algo o en parte</span>
        <input type="radio" value="d" name="793" /><span>e) Me desagrado mucho o totalmente</span></div>
        <br>
        <div id="ps">
        <h5>24.-¿ Encargarte del decorado del lugar para un festival?</h5>
        <input type="radio" value="a" name="793" /><span>a) Me gusta mucho</span>
        <input type="radio" value="b" name="793" /><span>b) Me gusta algo o en parte</span>
        <input type="radio" value="c" name="793" /><span>c) Me es indiferente, pues ni me gusta, ni me disgusta</span><br/><br/>
        <input type="radio" value="d" name="793" /><span>d) Me desagrada algo o en parte</span>
        <input type="radio" value="d" name="793" /><span>e) Me desagrado mucho o totalmente</span></div>
        <br>
        <div id="ps">
        <h5>25.-¿ Aprender a tocar un instrumento musical?</h5>
        <input type="radio" value="a" name="793" /><span>a) Me gusta mucho</span>
        <input type="radio" value="b" name="793" /><span>b) Me gusta algo o en parte</span>
        <input type="radio" value="c" name="793" /><span>c) Me es indiferente, pues ni me gusta, ni me disgusta</span><br/><br/>
        <input type="radio" value="d" name="793" /><span>d) Me desagrada algo o en parte</span>
        <input type="radio" value="d" name="793" /><span>e) Me desagrado mucho o totalmente</span></div>
        <br>
        <div id="ps">
        <h5>26.-¿ Aprender a escribir a máquina y en taquigrafía? </h5>
        <input type="radio" value="a" name="793" /><span>a) Me gusta mucho</span>
        <input type="radio" value="b" name="793" /><span>b) Me gusta algo o en parte</span>
        <input type="radio" value="c" name="793" /><span>c) Me es indiferente, pues ni me gusta, ni me disgusta</span><br/><br/>
        <input type="radio" value="d" name="793" /><span>d) Me desagrada algo o en parte</span>
        <input type="radio" value="d" name="793" /><span>e) Me desagrado mucho o totalmente</span></div>
        <br>
        <div id="ps">
        <h5>27.-¿Investigar el origen de las costumbres de los pueblos?</h5>
        <input type="radio" value="a" name="793" /><span>a) Me gusta mucho</span>
        <input type="radio" value="b" name="793" /><span>b) Me gusta algo o en parte</span>
        <input type="radio" value="c" name="793" /><span>c) Me es indiferente, pues ni me gusta, ni me disgusta</span><br/><br/>
        <input type="radio" value="d" name="793" /><span>d) Me desagrada algo o en parte</span>
        <input type="radio" value="d" name="793" /><span>e) Me desagrado mucho o totalmente</span></div>
        <br>
        <div id="ps">
        <h5>28.-¿ Llevar las cuentas de una institución? </h5>
        <input type="radio" value="a" name="793" /><span>a) Me gusta mucho</span>
        <input type="radio" value="b" name="793" /><span>b) Me gusta algo o en parte</span>
        <input type="radio" value="c" name="793" /><span>c) Me es indiferente, pues ni me gusta, ni me disgusta</span><br/><br/>
        <input type="radio" value="d" name="793" /><span>d) Me desagrada algo o en parte</span>
        <input type="radio" value="d" name="793" /><span>e) Me desagrado mucho o totalmente</span></div>
        <br>
        <div id="ps">
        <h5>29.-¿Construir objeto o muebles? </h5>
        <input type="radio" value="a" name="793" /><span>a) Me gusta mucho</span>
        <input type="radio" value="b" name="793" /><span>b) Me gusta algo o en parte</span>
        <input type="radio" value="c" name="793" /><span>c) Me es indiferente, pues ni me gusta, ni me disgusta</span><br/><br/>
        <input type="radio" value="d" name="793" /><span>d) Me desagrada algo o en parte</span>
        <input type="radio" value="d" name="793" /><span>e) Me desagrado mucho o totalmente</span></div>
        <br>
        <div id="ps">
        <h5>30.-¿ Trabajar al aire libre, fuera de la ciudad? </h5>
        <input type="radio" value="a" name="793" /><span>a) Me gusta mucho</span>
        <input type="radio" value="b" name="793" /><span>b) Me gusta algo o en parte</span>
        <input type="radio" value="c" name="793" /><span>c) Me es indiferente, pues ni me gusta, ni me disgusta</span><br/><br/>
        <input type="radio" value="d" name="793" /><span>d) Me desagrada algo o en parte</span>
        <input type="radio" value="d" name="793" /><span>e) Me desagrado mucho o totalmente</span></div>
        <br>
        <div id="ps">
        <h5>31.-¿ Enseñar a leer a los analfabetos?</h5>
        <input type="radio" value="a" name="793" /><span>a) Me gusta mucho</span>
        <input type="radio" value="b" name="793" /><span>b) Me gusta algo o en parte</span>
        <input type="radio" value="c" name="793" /><span>c) Me es indiferente, pues ni me gusta, ni me disgusta</span><br/><br/>
        <input type="radio" value="d" name="793" /><span>d) Me desagrada algo o en parte</span>
        <input type="radio" value="d" name="793" /><span>e) Me desagrado mucho o totalmente</span></div>
        <br>
        <div id="ps">
        <h5>32.-¿ Hacer propaganda para la difusión de una idea? </h5>
        <input type="radio" value="a" name="793" /><span>a) Me gusta mucho</span>
        <input type="radio" value="b" name="793" /><span>b) Me gusta algo o en parte</span>
        <input type="radio" value="c" name="793" /><span>c) Me es indiferente, pues ni me gusta, ni me disgusta</span><br/><br/>
        <input type="radio" value="d" name="793" /><span>d) Me desagrada algo o en parte</span>
        <input type="radio" value="d" name="793" /><span>e) Me desagrado mucho o totalmente</span></div>
        <br>
        <div id="ps">
        <h5>33.-¿Representar un papel en una obra de teatro? </h5>
        <input type="radio" value="a" name="793" /><span>a) Me gusta mucho</span>
        <input type="radio" value="b" name="793" /><span>b) Me gusta algo o en parte</span>
        <input type="radio" value="c" name="793" /><span>c) Me es indiferente, pues ni me gusta, ni me disgusta</span><br/><br/>
        <input type="radio" value="d" name="793" /><span>d) Me desagrada algo o en parte</span>
        <input type="radio" value="d" name="793" /><span>e) Me desagrado mucho o totalmente</span></div>
        <br>
        <div id="ps">
        <h5>34.-¿Idear y diseñar el escudo de un club o sociedad?</h5>
        <input type="radio" value="a" name="793" /><span>a) Me gusta mucho</span>
        <input type="radio" value="b" name="793" /><span>b) Me gusta algo o en parte</span>
        <input type="radio" value="c" name="793" /><span>c) Me es indiferente, pues ni me gusta, ni me disgusta</span><br/><br/>
        <input type="radio" value="d" name="793" /><span>d) Me desagrada algo o en parte</span>
        <input type="radio" value="d" name="793" /><span>e) Me desagrado mucho o totalmente</span></div>
        <br>
        <div id="ps">
        <h5>35.-¿Ser miembro de una asociación musical? </h5>
        <input type="radio" value="a" name="793" /><span>a) Me gusta mucho</span>
        <input type="radio" value="b" name="793" /><span>b) Me gusta algo o en parte</span>
        <input type="radio" value="c" name="793" /><span>c) Me es indiferente, pues ni me gusta, ni me disgusta</span><br/><br/>
        <input type="radio" value="d" name="793" /><span>d) Me desagrada algo o en parte</span>
        <input type="radio" value="d" name="793" /><span>e) Me desagrado mucho o totalmente</span></div>
        <br>
        <div id="ps">
        <h5>36.-¿Ayudar a calificar pruebas? </h5>
        <input type="radio" value="a" name="793" /><span>a) Me gusta mucho</span>
        <input type="radio" value="b" name="793" /><span>b) Me gusta algo o en parte</span>
        <input type="radio" value="c" name="793" /><span>c) Me es indiferente, pues ni me gusta, ni me disgusta</span><br/><br/>
        <input type="radio" value="d" name="793" /><span>d) Me desagrada algo o en parte</span>
        <input type="radio" value="d" name="793" /><span>e) Me desagrado mucho o totalmente</span></div>
        <br>
        <div id="ps">
        <h5>37.-¿Estudiar y entender las causas de los movimientos sociales? </h5>
        <input type="radio" value="a" name="793" /><span>a) Me gusta mucho</span>
        <input type="radio" value="b" name="793" /><span>b) Me gusta algo o en parte</span>
        <input type="radio" value="c" name="793" /><span>c) Me es indiferente, pues ni me gusta, ni me disgusta</span><br/><br/>
        <input type="radio" value="d" name="793" /><span>d) Me desagrada algo o en parte</span>
        <input type="radio" value="d" name="793" /><span>e) Me desagrado mucho o totalmente</span></div>
        <br>
        <div id="ps">
        <h5>38.-¿ Explicar a otros cómo resolver problemas de matemáticas? </h5>
        <input type="radio" value="a" name="793" /><span>a) Me gusta mucho</span>
        <input type="radio" value="b" name="793" /><span>b) Me gusta algo o en parte</span>
        <input type="radio" value="c" name="793" /><span>c) Me es indiferente, pues ni me gusta, ni me disgusta</span><br/><br/>
        <input type="radio" value="d" name="793" /><span>d) Me desagrada algo o en parte</span>
        <input type="radio" value="d" name="793" /><span>e) Me desagrado mucho o totalmente</span></div>
        <br>
        <div id="ps">
        <h5>39.-¿Reparar las instalaciones eléctricas, de gas o de plomería en tu casa? </h5>
        <input type="radio" value="a" name="793" /><span>a) Me gusta mucho</span>
        <input type="radio" value="b" name="793" /><span>b) Me gusta algo o en parte</span>
        <input type="radio" value="c" name="793" /><span>c) Me es indiferente, pues ni me gusta, ni me disgusta</span><br/><br/>
        <input type="radio" value="d" name="793" /><span>d) Me desagrada algo o en parte</span>
        <input type="radio" value="d" name="793" /><span>e) Me desagrado mucho o totalmente</span></div>
        <br>
        <div id="ps">
        <h5>40.-¿Sembrar y plantar en una granja durante las vacaciones? </h5>
        <input type="radio" value="a" name="793" /><span>a) Me gusta mucho</span>
        <input type="radio" value="b" name="793" /><span>b) Me gusta algo o en parte</span>
        <input type="radio" value="c" name="793" /><span>c) Me es indiferente, pues ni me gusta, ni me disgusta</span><br/><br/>
        <input type="radio" value="d" name="793" /><span>d) Me desagrada algo o en parte</span>
        <input type="radio" value="d" name="793" /><span>e) Me desagrado mucho o totalmente</span></div>
        <br>
        <div id="ps">
        <h5>41.-¿Ayudar a tus compañeros en sus dificultades y preocupaciones?</h5>
        <input type="radio" value="a" name="793" /><span>a) Me gusta mucho</span>
        <input type="radio" value="b" name="793" /><span>b) Me gusta algo o en parte</span>
        <input type="radio" value="c" name="793" /><span>c) Me es indiferente, pues ni me gusta, ni me disgusta</span><br/><br/>
        <input type="radio" value="d" name="793" /><span>d) Me desagrada algo o en parte</span>
        <input type="radio" value="d" name="793" /><span>e) Me desagrado mucho o totalmente</span></div>
        <br>
        <div id="ps">
        <h5> </h5>
        <input type="radio" value="a" name="793" /><span>a) Me gusta mucho</span>
        <input type="radio" value="b" name="793" /><span>b) Me gusta algo o en parte</span>
        <input type="radio" value="c" name="793" /><span>c) Me es indiferente, pues ni me gusta, ni me disgusta</span><br/><br/>
        <input type="radio" value="d" name="793" /><span>d) Me desagrada algo o en parte</span>
        <input type="radio" value="d" name="793" /><span>e) Me desagrado mucho o totalmente</span></div>
        <br>
        <div id="ps">
        <h5>42.-¿Leer biografías de políticos eminentes?</h5>
        <input type="radio" value="a" name="793" /><span>a) Me gusta mucho</span>
        <input type="radio" value="b" name="793" /><span>b) Me gusta algo o en parte</span>
        <input type="radio" value="c" name="793" /><span>c) Me es indiferente, pues ni me gusta, ni me disgusta</span><br/><br/>
        <input type="radio" value="d" name="793" /><span>d) Me desagrada algo o en parte</span>
        <input type="radio" value="d" name="793" /><span>e) Me desagrado mucho o totalmente</span></div>
        <br>
        <div id="ps">
        <h5>43.-¿Participar en un concurso de oratoria? </h5>
        <input type="radio" value="a" name="793" /><span>a) Me gusta mucho</span>
        <input type="radio" value="b" name="793" /><span>b) Me gusta algo o en parte</span>
        <input type="radio" value="c" name="793" /><span>c) Me es indiferente, pues ni me gusta, ni me disgusta</span><br/><br/>
        <input type="radio" value="d" name="793" /><span>d) Me desagrada algo o en parte</span>
        <input type="radio" value="d" name="793" /><span>e) Me desagrado mucho o totalmente</span></div>
        <br>
        <div id="ps">
        <h5>44.-¿Diseñar el vestuario para una función teatral? </h5>
        <input type="radio" value="a" name="793" /><span>a) Me gusta mucho</span>
        <input type="radio" value="b" name="793" /><span>b) Me gusta algo o en parte</span>
        <input type="radio" value="c" name="793" /><span>c) Me es indiferente, pues ni me gusta, ni me disgusta</span><br/><br/>
        <input type="radio" value="d" name="793" /><span>d) Me desagrada algo o en parte</span>
        <input type="radio" value="d" name="793" /><span>e) Me desagrado mucho o totalmente</span></div>
        <br>
        <div id="ps">
        <h5>45.-¿Leer biografías de músicos eminentes </h5>
        <input type="radio" value="a" name="793" /><span>a) Me gusta mucho</span>
        <input type="radio" value="b" name="793" /><span>b) Me gusta algo o en parte</span>
        <input type="radio" value="c" name="793" /><span>c) Me es indiferente, pues ni me gusta, ni me disgusta</span><br/><br/>
        <input type="radio" value="d" name="793" /><span>d) Me desagrada algo o en parte</span>
        <input type="radio" value="d" name="793" /><span>e) Me desagrado mucho o totalmente</span></div>
        <br>
        <div id="ps">
        <h5>46.-¿Encargarte del archivo y los documentos de una sociedad? </h5>
        <input type="radio" value="a" name="793" /><span>a) Me gusta mucho</span>
        <input type="radio" value="b" name="793" /><span>b) Me gusta algo o en parte</span>
        <input type="radio" value="c" name="793" /><span>c) Me es indiferente, pues ni me gusta, ni me disgusta</span><br/><br/>
        <input type="radio" value="d" name="793" /><span>d) Me desagrada algo o en parte</span>
        <input type="radio" value="d" name="793" /><span>e) Me desagrado mucho o totalmente</span></div>
        <br>
        <div id="ps">
        <h5>47.-¿Leer revistas y libros científicos?</h5>
        <input type="radio" value="a" name="793" /><span>a) Me gusta mucho</span>
        <input type="radio" value="b" name="793" /><span>b) Me gusta algo o en parte</span>
        <input type="radio" value="c" name="793" /><span>c) Me es indiferente, pues ni me gusta, ni me disgusta</span><br/><br/>
        <input type="radio" value="d" name="793" /><span>d) Me desagrada algo o en parte</span>
        <input type="radio" value="d" name="793" /><span>e) Me desagrado mucho o totalmente</span></div>
        <br>
        <div id="ps">
        <h5>48.-¿Participar en concursos de matemáticas? </h5>
        <input type="radio" value="a" name="793" /><span>a) Me gusta mucho</span>
        <input type="radio" value="b" name="793" /><span>b) Me gusta algo o en parte</span>
        <input type="radio" value="c" name="793" /><span>c) Me es indiferente, pues ni me gusta, ni me disgusta</span><br/><br/>
        <input type="radio" value="d" name="793" /><span>d) Me desagrada algo o en parte</span>
        <input type="radio" value="d" name="793" /><span>e) Me desagrado mucho o totalmente</span></div>
        <br>
        <div id="ps">
        <h5>49.-¿Proyectar y dirigir alguna construcción? </h5>
        <input type="radio" value="a" name="793" /><span>a) Me gusta mucho</span>
        <input type="radio" value="b" name="793" /><span>b) Me gusta algo o en parte</span>
        <input type="radio" value="c" name="793" /><span>c) Me es indiferente, pues ni me gusta, ni me disgusta</span><br/><br/>
        <input type="radio" value="d" name="793" /><span>d) Me desagrada algo o en parte</span>
        <input type="radio" value="d" name="793" /><span>e) Me desagrado mucho o totalmente</span></div>
        <br>
        <div id="ps">
        <h5>50.-¿Atender animales en un rancho durante las vacaciones? </h5>
        <input type="radio" value="a" name="793" /><span>a) Me gusta mucho</span>
        <input type="radio" value="b" name="793" /><span>b) Me gusta algo o en parte</span>
        <input type="radio" value="c" name="793" /><span>c) Me es indiferente, pues ni me gusta, ni me disgusta</span><br/><br/>
        <input type="radio" value="d" name="793" /><span>d) Me desagrada algo o en parte</span>
        <input type="radio" value="d" name="793" /><span>e) Me desagrado mucho o totalmente</span></div>
        <br>
        <h3>¿Qué tanto te gustaría trabajar como?</h3>
        <div id="ps">
        <h5>51.-¿	Funcionario al servicio de las clases humildes?</h5>
        <input type="radio" value="a" name="793" /><span>a) Me gusta mucho</span>
        <input type="radio" value="b" name="793" /><span>b) Me gusta algo o en parte</span>
        <input type="radio" value="c" name="793" /><span>c) Me es indiferente, pues ni me gusta, ni me disgusta</span><br/><br/>
        <input type="radio" value="d" name="793" /><span>d) Me desagrada algo o en parte</span>
        <input type="radio" value="d" name="793" /><span>e) Me desagrado mucho o totalmente</span></div>
        <br>
        <div id="ps">
        <h5>52.-¿	Experto en relaciones sociales de una gran empresa? </h5>
        <input type="radio" value="a" name="793" /><span>a) Me gusta mucho</span>
        <input type="radio" value="b" name="793" /><span>b) Me gusta algo o en parte</span>
        <input type="radio" value="c" name="793" /><span>c) Me es indiferente, pues ni me gusta, ni me disgusta</span><br/><br/>
        <input type="radio" value="d" name="793" /><span>d) Me desagrada algo o en parte</span>
        <input type="radio" value="d" name="793" /><span>e) Me desagrado mucho o totalmente</span></div>
        <br>
        <div id="ps">
        <h5>53.-¿	Escritor en un periódico o empresa editorial?</h5>
        <input type="radio" value="a" name="793" /><span>a) Me gusta mucho</span>
        <input type="radio" value="b" name="793" /><span>b) Me gusta algo o en parte</span>
        <input type="radio" value="c" name="793" /><span>c) Me es indiferente, pues ni me gusta, ni me disgusta</span><br/><br/>
        <input type="radio" value="d" name="793" /><span>d) Me desagrada algo o en parte</span>
        <input type="radio" value="d" name="793" /><span>e) Me desagrado mucho o totalmente</span></div>
        <br>
        <div id="ps">
        <h5>54.-¿	Dibujante profesional en una empresa?</h5>
        <input type="radio" value="a" name="793" /><span>a) Me gusta mucho</span>
        <input type="radio" value="b" name="793" /><span>b) Me gusta algo o en parte</span>
        <input type="radio" value="c" name="793" /><span>c) Me es indiferente, pues ni me gusta, ni me disgusta</span><br/><br/>
        <input type="radio" value="d" name="793" /><span>d) Me desagrada algo o en parte</span>
        <input type="radio" value="d" name="793" /><span>e) Me desagrado mucho o totalmente</span></div>
        <br>
        <div id="ps">
        <h5>55.-¿	Concertista en una sinfónica?</h5>
        <input type="radio" value="a" name="793" /><span>a) Me gusta mucho</span>
        <input type="radio" value="b" name="793" /><span>b) Me gusta algo o en parte</span>
        <input type="radio" value="c" name="793" /><span>c) Me es indiferente, pues ni me gusta, ni me disgusta</span><br/><br/>
        <input type="radio" value="d" name="793" /><span>d) Me desagrada algo o en parte</span>
        <input type="radio" value="d" name="793" /><span>e) Me desagrado mucho o totalmente</span></div>
        <br>
        <div id="ps">
        <h5>56.-¿	Técnico organizador de oficinas?</h5>
        <input type="radio" value="a" name="793" /><span>a) Me gusta mucho</span>
        <input type="radio" value="b" name="793" /><span>b) Me gusta algo o en parte</span>
        <input type="radio" value="c" name="793" /><span>c) Me es indiferente, pues ni me gusta, ni me disgusta</span><br/><br/>
        <input type="radio" value="d" name="793" /><span>d) Me desagrada algo o en parte</span>
        <input type="radio" value="d" name="793" /><span>e) Me desagrado mucho o totalmente</span></div>
        <br>
        <div id="ps">
        <h5>57.-¿	Investigar en un laboratorio?</h5>
        <input type="radio" value="a" name="793" /><span>a) Me gusta mucho</span>
        <input type="radio" value="b" name="793" /><span>b) Me gusta algo o en parte</span>
        <input type="radio" value="c" name="793" /><span>c) Me es indiferente, pues ni me gusta, ni me disgusta</span><br/><br/>
        <input type="radio" value="d" name="793" /><span>d) Me desagrada algo o en parte</span>
        <input type="radio" value="d" name="793" /><span>e) Me desagrado mucho o totalmente</span></div>
        <br>
        <div id="ps">
        <h5>58.-¿	Experto calculista en una institución?</h5>
        <input type="radio" value="a" name="793" /><span>a) Me gusta mucho</span>
        <input type="radio" value="b" name="793" /><span>b) Me gusta algo o en parte</span>
        <input type="radio" value="c" name="793" /><span>c) Me es indiferente, pues ni me gusta, ni me disgusta</span><br/><br/>
        <input type="radio" value="d" name="793" /><span>d) Me desagrada algo o en parte</span>
        <input type="radio" value="d" name="793" /><span>e) Me desagrado mucho o totalmente</span></div>
        <br>
        <div id="ps">
        <h5>59.-¿	Perito mecánico en un taller?</h5>
        <input type="radio" value="a" name="793" /><span>a) Me gusta mucho</span>
        <input type="radio" value="b" name="793" /><span>b) Me gusta algo o en parte</span>
        <input type="radio" value="c" name="793" /><span>c) Me es indiferente, pues ni me gusta, ni me disgusta</span><br/><br/>
        <input type="radio" value="d" name="793" /><span>d) Me desagrada algo o en parte</span>
        <input type="radio" value="d" name="793" /><span>e) Me desagrado mucho o totalmente</span></div>
        <br>
        <div id="ps">
        <h5>60.-¿	Técnico cuyas actividades se desempeñan fuera de la ciudad? </h5>
        <input type="radio" value="a" name="793" /><span>a) Me gusta mucho</span>
        <input type="radio" value="b" name="793" /><span>b) Me gusta algo o en parte</span>
        <input type="radio" value="c" name="793" /><span>c) Me es indiferente, pues ni me gusta, ni me disgusta</span><br/><br/>
        <input type="radio" value="d" name="793" /><span>d) Me desagrada algo o en parte</span>
        <input type="radio" value="d" name="793" /><span>e) Me desagrado mucho o totalmente</span></div><br>

       <a href="charts.html"> <button  type="button" class="btn btn-success">Resultado</button></a>
       <a href="intereses.html"> <button  type="button" class="btn btn-danger">Borrar</button></a>

      </form>
    </div>
    </div>

      <!-- Footer -->
      <footer class="sticky-footer bg-white">
        <div class="container my-auto">
          <div class="copyright text-center my-auto">
            <span>Copyright &copy; Your Website 2020</span>
          </div>
        </div>
      </footer>
      <!-- End of Footer -->

    </div>
    <!-- End of Content Wrapper -->

  </div>
  <!-- End of Page Wrapper -->

  <!-- Scroll to Top Button-->
  <a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
  </a>

  <!-- Logout Modal-->
  <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Estas seguro ?</h5>
          <button class="close" type="button" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
          </button>
        </div>
        <div class="modal-body">Seleciona "cerrar sesion" a continuación si está listo para finalizar su sesión actual.</div>
        <div class="modal-footer">
          <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
          <a class="btn btn-primary" href="login.html">Cerrar Sesion</a>
        </div>
      </div>
    </div>
  </div>

  <!-- Bootstrap core JavaScript-->
  <script src="vendor/jquery/jquery.min.js"></script>
  <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  <!-- Core plugin JavaScript-->
  <script src="vendor/jquery-easing/jquery.easing.min.js"></script>

  <!-- Custom scripts for all pages-->
  <script src="js/sb-admin-2.min.js"></script>

  <!-- Page level plugins -->
  <script src="vendor/chart.js/Chart.min.js"></script>

  <!-- Page level custom scripts -->
  <script src="js/demo/chart-area-demo.js"></script>
  <script src="js/demo/chart-pie-demo.js"></script>

</body>

</html>
